# Laravel
/bootstrap/compiled.php
/vendor

# Configurations
/app/config/local
/app/config/staging
/app/config/production

# Basset development collections
/public/assets/compiled/public
/public/assets/compiled/admin

# Composer
composer.phar
composer.lock

# OS
.DS_Store
.idea/

# Codeception
/app/tests/_log